/ci/environment
coverage
vendor
log
.idea
*.phar
*.zip
localTestingArea
composer.phar
composer.lock
docs/doc_creation/
docs/doc_creation/conversion
docs/doc_creation/md
docs/doc_creation/phpdocmd
docs/doc_creation/structure.xml