sudo: false

language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7
  - nightly
  - hhvm

install:
  - bash ./ci/_composer_install.sh
  - mkdir -p build/logs
  - bash ./ci/start-ci.sh $ORIENTDB_VERSION

cache:
  directories:
  - ./vendor

before_cache:
- ls -la ./ci/environment/
- rm -f ./ci/environment/orientdb-community-$ORIENTDB_VERSION/log/*
- rm -rf ./ci/environment/orientdb-community-$ORIENTDB_VERSION/databases/*

script:
 - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
 - php ./vendor/bin/coveralls -v

env:
  # - ORIENTDB_VERSION=3.0.0-SNAPSHOT
  - ORIENTDB_VERSION=2.2.14-SNAPSHOT
  - ORIENTDB_VERSION=2.2.13
  - ORIENTDB_VERSION=2.2.12
  - ORIENTDB_VERSION=2.2.10
  - ORIENTDB_VERSION=2.2.4
#  - ORIENTDB_VERSION=2.2.3   # too much random errors/bugs
  - ORIENTDB_VERSION=2.2.2
  - ORIENTDB_VERSION=2.2.0
  - ORIENTDB_VERSION=2.1.25
  - ORIENTDB_VERSION=2.1.24
  - ORIENTDB_VERSION=2.1.19
  - ORIENTDB_VERSION=2.1.18
  - ORIENTDB_VERSION=2.0.18